@import "tailwindcss";

:root {
  color: #334155;
  background: #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: "Noto Sans TC", "Segoe UI", sans-serif;
}

button,
textarea,
input {
  font: inherit;
}
